---
layout: layouts/base.njk
title: About
permalink: /about/
---

<h1>About Me!</h1>
<p>I am a super passionate software developer, and I love coding all the time. My favorite languages are Python, JavaScript and C#</p>



for of 

for in objects 

for 

